@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>ℂ𝔻𝔼𝕊</title>
</head>
<body>
    <div class="topo">
        <h3 class="titulo-index">ℂ𝔻𝔼𝕊</h3>
        <h1> Compartilhe e descubra dicas e experiências sustentáveis</h1>

    </div>

    <div class="center">
        <a class="btn-index" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        <a class="btn-index" asp-area="" asp-controller="Account" asp-action="Register">Cadastrar-se</a>
        
    </div>

</body>
</html>
