@using CompartilhamentoDeDicasSustentaveis.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UsuarioIdentity> SignInManager

@model List<PostagemViewModel>
@{
    ViewData["Title"] = "Filtrar Postagens";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Postagem.css" />
</head>
<body>

    <div class="left">
        <div class="menu">
            <br />
            <h2>ℂ𝔻𝔼𝕊</h2>
            <br />
            <br />
            <ul>
                <li><a asp-area="" asp-controller="Postagem" asp-action="Filtrar">Filtrar</a></li>
                <li><a asp-area="" asp-controller="Postagem" asp-action="Postagem">Chat Global</a></li>
                <li><a href="">Seus Grupos</a></li>
                <li><a href="">Salvos</a></li>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <form class="form-logout" method="post" asp-controller="Account" asp-action="Logout">
                            <button type="submit"> Logout @User.Identity.Name </button>
                        </form>
                    </li>
                }

            </ul>
        </div>
    </div>
    <div class="center">
        <br />
        <h2>Postagens encontradas</h2>
        <br />
        <div class="chat">
            <ul id="postagens" class="postagens">
            </ul>
        </div>

    </div>


    <div class="right">
        
    </div>


    <script>

        var teste = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));


        teste.forEach(function (p) {
            var postagemTitulo = p.Titulo;
            var postagemTexto = p.Texto;
            var titulo = document.createElement("h3");
            var texto = document.createElement("p");
            titulo.innerHTML = postagemTitulo;
            texto.innerHTML = postagemTexto;

            var li = document.createElement("li");

            li.appendChild(titulo);
            li.appendChild(texto);
            console.log("Testezinho");

            p.ImagemBase64.forEach(function (imgBase64) {
                var img = document.createElement("img");
                img.style.width = "600px";
                img.style.margin = "auto";
                img.style.marginBottom = "20px";
                img.src = "data:image/jpeg;base64," + imgBase64.ImgBase64;

                li.appendChild(img);
            });

            var ul = document.getElementById("postagens");
            ul.appendChild(li);
        });


    </script>

</body>
</html>